extends layout
block content
  include navbar
  .layui-container.main
    .layui-row
      .layui-col-md8.layui-col-md-offset2
        h1.title 设置
        .layui-tab
          ul.layui-tab-title
            li.layui-this 基本
            li 域名分发
          .layui-tab-content
            .layui-tab-item.layui-show
              form.layui-form(method="post",action="/admin/setting/basic")
                .layui-form-item
                  label.layui-form-label 绑定域名
                  .layui-input-block
                    input.layui-input(type="text",value="#{setting.host}",name="host",placeholder="输入系统绑定的域名，带http://或者https://前缀")
                .layui-form-item
                  label.layui-form-label 输出清晰度
                  .layui-input-block
                    if setting.hd=="720" || setting.hd==""
                      input(type="radio",name="hd",value="480",title="480P")
                      input(type="radio",name="hd",value="720",title="720P",checked)
                      input(type="radio",name="hd",value="1080",title="1080P")
                    else if setting.hd=="1080"
                      input(type="radio",name="hd",value="480",title="480P")
                      input(type="radio",name="hd",value="720",title="720P")
                      input(type="radio",name="hd",value="1080",title="1080P",checked)
                    else
                      input(type="radio",name="hd",value="480",title="480P",checked)
                      input(type="radio",name="hd",value="720",title="720P")
                      input(type="radio",name="hd",value="1080",title="1080P")
                .layui-form-item
                  label.layui-form-label 秒切
                  .layui-input-block
                    if setting.miaoqie=="on"
                      input(type="checkbox",name="miaoqie",lay-skin="switch",lay-text="开启|关闭",checked)
                    else
                      input(type="checkbox",name="miaoqie",lay-skin="switch",lay-text="开启|关闭")
                .layui-form-item
                  label.layui-form-label 引用网址（防盗链）
                  .layui-input-block
                    input.layui-input(type="text",value="#{setting.antiurl.join('|')}",name="antiurl",placeholder="http://youurl,必须加http://前缀，多个域名由|分开，设置之后只能指定域名通过ifream调用")
                .layui-form-item
                  label.layui-form-label 盗链跳转域名
                  .layui-input-block
                    input.layui-input(type="text",value="#{setting.antiredirect}",name="antiredirect",placeholder="输入域名，带http://或者https://前缀")
                .layui-form-item
                  label.layui-form-label 防盗链KEY
                  .layui-input-block
                    input.layui-input(type="text",value="#{setting.antikey}",name="key",placeholder="推荐八位英文数字组合")
                .layui-form-item
                  label.layui-form-label 生成截图数
                  .layui-input-block
                    input.layui-input(type="number",value="#{setting.screenshots}",name="screenshots",placeholder="输入生成截图数")
                .layui-form-item
                  label.layui-form-label TS加密
                  .layui-input-block
                    if setting.tsjiami=="on"
                      input(type="checkbox",name="tsjiami",lay-skin="switch",lay-text="开启|关闭",checked)
                    else
                      input(type="checkbox",name="tsjiami",lay-skin="switch",lay-text="开启|关闭")
                .layui-form-item
                  label.layui-form-label 开启API
                  .layui-input-block
                    input(type="checkbox",name="api",lay-skin="switch",lay-text="开启|关闭",checked=setting.api=='on'?true:false)
                .layui-form-item
                  label.layui-form-label 水印
                  .layui-input-inline
                    - var imgpath = setting.wmpath.split("/");
                    - var path = '/'+imgpath[2]+'/'+imgpath[3];
                    img.watermark(src="#{path}")
                    .layui-btn#upload-wm
                      i.layui-icon &#xe67c;
                      | 上传水印
                    input#inputwm(type="hidden",name="watermark",value="#{setting.wmpath}")
                  .layui-form-mid.layui-word-aux 水印图片存在/public/mark文件夹中
                .layui-form-item
                  .layui-input-block
                    button.layui-btn(lay-submit,lay-filter="submitsetting") 提交
            .layui-tab-item
              p 域名分发介绍：如果设置开启了此功能，则每一次请求m3u8文件的时候，其中的ts会自动循环加上这里设置的域名，前提是所有这里添加的域名服务器都同步了此云转码的切片内容，推荐使用rsync命令。
              form.layui-form(method="post",action="/admin/setting/fenfa")
                .layui-form-item
                  label.layui-form-label 是否开启
                  .layui-input-block
                    if fenfa.kaiguan=="on"
                      input(type="checkbox",name="kaiguan",lay-skin="switch",lay-text="开启|关闭",checked)
                    else
                      input(type="checkbox",name="kaiguan",lay-skin="switch",lay-text="开启|关闭")
                .layui-form-item.domains
                  label.layui-form-label 分发域名
                  each domain,index in fenfa.domains
                    .layui-input-block.mb5
                      input.layui-input(type="text",value="#{domain}",name="domains",placeholder="输入分发域名需要前缀http://或者https://",style="display:inline-block;width:80%;")
                      if index == 0
                        button.layui-btn.addrow(style="float:right;") 添加一行
                      else
                        button.layui-btn.delrow(style="float:right;") 删除此行
                .layui-form-item
                  .layui-input-block
                    button.layui-btn(lay-submit,lay-filter="submitfenfa") 提交
          
          
          
        
        
          